<!-- IF not S_IS_BOT -->
	<!-- IF GTTIPS_WOWHEAD -->
		<script src="http://static.wowhead.com/widgets/power.js"></script>
		<script>var wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true }</script>
	<!-- ENDIF -->
	<!-- IF GTTIPS_DIABLO3 -->
		<script src="http://{GTTIPS_REGION}.battle.net/d3/static/js/tooltips.js"></script>
	<!-- ENDIF -->
	<!-- IF GTTIPS_WILDHEAP -->
		<script src="http://static.wildheap.com/tooltip.js"></script>
		<script>var WHTooltips = {"colors": true, "icons": true, "rename": true}</script>
	<!-- ENDIF -->
	<!-- IF GTTIPS_LOLTIP -->
		<script src="http://www.arcana-gaming.com/Content/plugins/arcana-loltip/js"></script>
	<!-- ENDIF -->
	<!-- IF GTTIPS_ZAM -->
		<script src="http://zam.zamimg.com/j/tooltips.js"></script>
	<!-- ENDIF -->
<!-- ENDIF -->
